<div class="container justify-content-center">
    <div class="d-flex justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow-sm">
                <div class="card-body p-4">
                    <h3 class="text-center mb-4">Accedi a BugBoard26</h3>
                    
                    @if (errorMessage) {
                        <div class="alert alert-danger" role="alert">
                            {{ errorMessage }}
                        </div>
                    }
                    
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" id="email" class="form-control" formControlName="email" [class.is-invalid]="loginForm.controls.email.invalid && loginForm.controls.email.touched">
                            <div class="invalid-feedback">{{ ERROR_MESSAGES.invalidEmail }}</div>

                            <label for="password" class="form-label">Password</label>
                            <input type="password" id="password" class="form-control" formControlName="password" [class.is-invalid]="loginForm.controls.password.invalid && loginForm.controls.password.touched">
                            <div class="invalid-feedback">{{ ERROR_MESSAGES.required }}</div>
                        </div>

                        <div class="alert alert-info alert-dismissible" role="alert">
                            Don't have an account? Ask your administrator for an invitation link.
                        </div>
                        <button type="submit" class="btn btn-primary w-100" [disabled]=" loginForm.invalid || isLoading">
                           {{ isLoading ? "Logging in..." : "Login" }}
                        </button>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>